* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

.sliderContainer {
    width: 100%;
    margin: 20px auto;
    height: 580px;
    position: relative;
}

.sliderComponenets {
    position: absolute;
    width: 100%;
    height: 580px;
    opacity: 0;
    transition: all 1s;
}

img {
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
}